
.lista{
    display: flex;
    list-style: none;
    padding: 0;
    background: black;
    width: 55.3%;
    max-width: 1000px;
    margin: auto;
}
.lista a{
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
}
.lista li{
    display: inline-block;
    text-align: center;
}
.lista li a:hover{
    background: greenyellow;
    text-decoration: solid;

}